{% extends 'partials/body.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<main>
    <div class="max-width center-div">

        <div class="image-destaque"></div>

        <div class="text-center">
            <h1>Recursos de alta demanda para a sua empresa</h1>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, blanditiis ullam dicta delectus harum, possimus aliquam aperiam quidem repellat inventore ipsam, doloremque excepturi vero incidunt rerum distinctio enim. Odio, laborum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe alias molestias delectus enim! Accusamus suscipit explicabo laborum dolore et dolor natus accusantium neque necessitatibus, voluptas error, harum voluptates officiis illo?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore omnis quia consequuntur ea quis esse consequatur dolor eos? Vitae doloribus eveniet tempore consectetur libero dolor architecto, obcaecati officiis maiores omnis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas non quisquam, error voluptatem fugiat tenetur recusandae eos soluta deserunt, deleniti alias, esse cumque ipsa illum sunt inventore tempora vitae! Excepturi?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ut temporibus obcaecati error labore dolorem libero adipisci fugiat dolorum, amet debitis voluptas mollitia eos nobis necessitatibus, eaque, nam est sed.</p>
        
        </div>

    </div>
</main>

{% endblock %}